---
import WasmRenderer from "../components/WasmRenderer.astro";
import Base from "../layouts/Base.astro";

---

<Base title="Projects">
    <h1>Raytracing</h1>
    <p>
        This is a raytracer written in zig targetting webassembly, it followed the book series Raytracing in one Weekend, and Raytracing the next week 
        but then deviates into its own direction.
    </p>
    <a href="" class="btn-ghost">View Source</a>
    <WasmRenderer />
</Base>