---
import Base from "../../layouts/Base.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import WasmRenderer from "../../components/WasmRenderer.astro";
import { url } from "../../utils/url";
---

<Base title="Projects">
    <section class="projects">
        <ProjectCard
            title="Raytracer"
            description="Raytracer written in Zig targeting WebAssembly. Follows Raytracing in One Weekend and Raytracing the Next Week, then deviates into its own direction."
            href={url("/projects/raytracer")}
        >
            <WasmRenderer width={300} />
        </ProjectCard>
    </section>
</Base>

<style>
    .projects {
        max-width: 1100px;
        margin: 0 auto;
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
